/* PC */
@media(min-width:64em){
    
}
/* Tablet & Mobile */
@media(max-width:63.9375em){
    .btn{
        padding:15px 16px ;
    }
    .contact-from .form-control{
        padding: 15px;
        font-size: 16px;
    }
    .contact-info{
        line-height: 2;
    }
    .contact-submit-btn{
        font-size: 18px;
    }
    .social-lists{
        font-size: 48px;
    }
    #footer .socials-list a {
        margin: 0 8px;
    }
    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
    #nav .subnav a{
        padding: 5px 12px;
    }
}
/* Tablet */
@media(min-width:46.25em)and (max-width:63.9375em){
    
}
/* Mobile */
@media(max-width:46.1875em){ 
    .s-full-width,
    .s-col-full{
        width: 100% !important;
    } 
    .s-mt-8{
        margin-top: 8px !important;
    }
    #nav{
        display: block;   
    }
    #nav > li {
        display: block;
    }
    #nav li a {
        padding: 1px 24px;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;

    }
    #nav > li:first-child{
        display: inline-block;
    }
    #header{
        overflow: hidden;
    }
    #header .mobile-menu-btn{
        display: block;
    }
    #header .search-btn{
        display: none;
    }
   
    #content .member-img{
        width: 60%;
    }
    .contact-from{
        margin-top: 32px;
    }
}   